body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

/*rgba(83, 53, 147, 1)*/
.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

 .hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
 .hovicon.effect-1.sub-a:hover {
    background: rgba(255, 255, 255, 1);
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover i {
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.logo_portal{
	background-image: url('../images/logo-Kota-Kediri-196.png');
	background-size: cover;
	background-position: center center;
	margin:calc((2vh + 2vw)/2) 5px 1vh 5px;
	height:10rem;
	width:10rem;
}
.backTrans{
	background:rgba(0, 0, 0, 0.6);
}
.textdpmptsp_portal{
	font-size:calc((2.1vh + 2.1vw)/2);
	color: rgba(83, 53, 147, 1);
	font-weight:900;
	text-shadow: .5px .5px #bbb;
}
.containerMenu{
padding: calc((2vh + 2vw)/2) 0 calc((.1vh + .1vw)/2);
text-align: center;
border-top: 3px solid rgba(139, 0, 245, 0.6);
border-bottom: 6px solid rgba(139, 0, 245, 0.6);
background:rgba(35, 43, 32, 0.6);
}
.iconimgsize_portal {
	width:calc((15vh + 15vw)/2);
	height:calc((15vh + 15vw)/2);
}
.ctn-mid-daily {
	text-align: center;
	position:relative;
}
.ctn-mid-daily:last-child {
	margin-right: 0;
}
.ctn-mid-daily h1 {
	font-size:calc((1.6vh + 1.6vw)/2);
	color: #fff;
	font-weight: 900;
	padding: 5px 0px 15px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
.ctn-bn-liver-img {
	margin-top: 0px;
	text-align: center;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.ctn-bn-liver-img:hover, .ctn-bn-liver-img:focus, .ctn-bn-liver-img:active {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.textlogo_portal{
	font-weight:700;
	font-size:calc((2vh + 2vw)/2);
	text-align: center;
	margin-bottom:calc((2vh + 2vw)/2);
}
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: transparent;
  height: 100vh;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  margin:0;
}

.crossfade > figure:nth-child(1) { background-image: url('../images/slide/slide-1.jpg'); }
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../images/slide/slide-2.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../images/slide/slide-1.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../images/slide/slide-2.jpg');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../images/slide/slide-1.jpg');
}
@keyframes imageAnimation {  
	0% {
	 animation-timing-function: ease-in;
	 opacity: 0;
	}
	 8% {
	 animation-timing-function: ease-out;
	 opacity: 1;
	filter: blur(.1px);
	-webkit-filter: blur(.1px);
	-moz-filter: blur(.1px);
	-o-filter: blur(.1px);
	-ms-filter: blur(.1px);

	}
	 17% {
	 opacity: 1
	}
	 25% {
	 opacity: 0
	}
	 100% {
	 opacity: 0
	}
}
.login-form {
  width: 320px;
}
.login-form-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  margin-top:1px;
}
.profile-image-login {
  width: 100px;
  height: 100px !important;
}
.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}
.wsmenu{
	box-sizing: border-box;
    text-decoration: none;
}

.border-animation{
    padding: 7px;
    margin-bottom: 10px;
}
.border-animation:hover {
    background: #fff;
}
.border-animation::before,
.border-animation::after {
  content:"";
  width: 0;
  height: 1px;
  transition: all 0.2s linear;
  background: #2B8BE9;
}
.border-animation span::before,
.border-animation span::after {
  content:"";
  width:1px;
  height:0;
  transition: all 0.2s linear;
  background: #2B8BE9;
}
.border-animation:hover::before,
.border-animation:hover::after{
  width: 100%;
}
.border-animation:hover span::before, 
.border-animation:hover span::after{
  height: 100%;
}
.border-animation::after {
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.border-animation span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.border-animation::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.border-animation span::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.border-animation > .active{
    background: #fff;
    border: 1px solid #2B8BE9;
}

.wstliststy01 {
    padding:0;
    margin: 0px;
}
.wstliststy01 li a {
    font-size: 15px;
    font-weight: bold;
    color: #2B8BE9;
    display: block;
    letter-spacing: 0.5px;
    text-transform: capitalize;
   /* border: 2px solid transparent;
    padding: 3px 5px;*/
}
.wstliststy01 li a:hover {
    color: #2B8BE9;
    text-decoration: none;
    /*border: 2px solid #2B8BE9;*/
}
.wstliststy01 li p {
    font-size: 13px;
    color:#333 !important;
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0.4px;
}
.tabs .tab a:hover, .tabs .tab a.active {
	color: #F62D51;
}
.tabs .tab a {
	color: #F62D51;
}
.panel-menu-link:hover .feature-text {
	color: #FFF;
}
.panel-menu-link:hover>.feature-text>.feature-icon {
    background: #F62D51;
}
.feature-text {
	color: #F62D51;
	font-weight:600;
	padding-bottom:5px;
}
.feature-icon {
    height: 68px;
    width: 68px;
    border: 3px solid #F62D51;
    border-radius: 1000px;
    text-align: center;
    margin: 11px;
}
.feature-icon i {
    color: #F62D51;
    font-size: 40px;
    line-height: 64px;
}
.feature-icon i:hover {
    color: #FFF;
}
.pagination li.active {
    background-color: #29b6f6;
}